*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}


p{
    color : black;
}

body {
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    color : white;
    display : flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom : 5vh;
}
header div img{
    position: relative;
    content: "Logo";
    color : black;
}

.main {
    display : flex;
    flex-direction: column;
    align-items: center;
}
.searchBar{
    flex : 1;
    width: 40%;
    margin-bottom : 5vh;

    display: flex;
    flex-direction: column;
}

.searchBar form input{
    width: 70%;
    height: 45px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 25px;
}
.searchBar form button{
    width: 30%;
    height: 45px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.searchBarResult{
    display : flex;
    flex-direction: column;
    background-color: white;
    color : black;
    width: 470px; 
    height: auto;
    font-size: 15px;
    padding : 10px 0;  
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchBarResult li{
    padding : 7px 0;
    cursor: pointer;
    list-style: none;
}

.searchBarResult ul ul{
    width: 350px;
    position: absolute;
}



.searchBarResult li li{
    position: relative;
    background-color: white;
    
    left: 470px;
    top: -65px;
}
/*.searchBar li::before{
    content:"•";
    color : rgb(42, 216, 207);
    padding-right: .2em;
}*/


.searchBarResult ul li:hover{
    background: rgb(238, 237, 237);
    border : solid 1px black;
}




.main-video{
    display : flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.customCutList{
    display : flex;
    flex-direction: column;

    max-width: 250px;
    background-color: #fff;
}
.customCutList> div {
    border-bottom : solid black 1px;
    height: 100px;
}

.customCutList h3, .customCutList h4{
    color : black;
}

.customCutList ul{
    display : flex;
    flex-direction: column;
    gap:5px;
    overflow: auto;
    max-height: 700px;
    margin-top : 3vh
}
.customCutList ul li{
    color : black;
    font-size: 17px;
    border : 1px solid #000;
    width: 100%;
    padding-left: 10px;
    text-align: start !important;
    display : flex;
}
.cutListContent{
    width: 90%;
}

.green{
    background-color: rgb(25, 228, 92);
}
.orange {
    background-color: rgb(238, 155, 46);
}


.cutListContentDelete{
    width: 10%;
    background-color: red;
    cursor: pointer;
    vertical-align:middle;
}

.videoPlayer{
    position: relative;
    flex: 4;
}

.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.youtubeContainer iframe {
  position : absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.playerAddCut{
    width: 100%;
    height: 100px;
}
.playerAddCut button {
    width: 200px;
    height: 35%;
    border-radius: 10px;
    text-transform: uppercase;
}
